<div class="return-section">
  <button mat-raised-button color="accent" [routerLink]="['/']">Return to Main Page</button>
</div>
  <div class="container">
    <h1>View {{typeView}}</h1>

    <div class="entity-details">

      <h2>Id:</h2>
      <p>{{ id }}</p>

      <h2>{{typeView}} Name:</h2>
      <p>{{ entityName }}</p>

      <h2>Description:</h2>
      <p>{{ description }}</p>

      <div *ngIf="typeView === 'Project'">
        <h2>Complexity:</h2>
        <p>{{ complexity }}</p>

        <h2>Code:</h2>
        <p>{{ code }}</p>
      </div>
      <div *ngIf="typeView === 'Task'">
        <h2>ProjectId:</h2>
        <p>{{ parentProjectId }}</p>
      </div>
    </div>

<div *ngIf="typeView === 'Project'">
  <h2>Project Tasks</h2>
  <div class="tasks-grid">
    <!-- Tasks listing -->
    <mat-grid-list cols="4" rowHeight="70px" gutterSize="10px">
      <mat-grid-tile *ngFor="let task of tasks" class="task-tile">
        <mat-card class="task-card" (click)="onSelectTask(task.id)">
          <mat-card-title>{{ task.name }}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
</div>
