.task-form {
  h1 {
    margin-bottom: 15px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      margin-left: 15px;
    }
  }
}
