<div class="return-section">
  <button mat-raised-button color="accent" [routerLink]="['/']">Return to Main Page</button>
</div>
<div class="container">
  <h1>Edit {{typeView}}</h1>

  <form class="project-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="fill">
      <mat-label>{{typeView}} Name</mat-label>
      <input matInput placeholder="Enter {{typeView}} Name" [(ngModel)]="entityName" name="entityName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter {{typeView}} Description" [(ngModel)]="description"name="description"></textarea>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Update {{typeView}}</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>

<div *ngIf="typeView==='Project'&&tasks.length">
  <h2>Project Tasks</h2>
  <app-entity-grid [entityType]="'task'" [entities]="tasks"></app-entity-grid>
</div>
<button mat-raised-button color="primary" (click)="onAddTask()" *ngIf="typeView==='Project'">Add Task</button>
</div>

