<div class="tasks-container">
  <button mat-raised-button color="primary" (click)="onAddTask()">Add Task</button>

  <div class="tasks-grid">
    <!-- Tasks listing -->
    <mat-grid-list cols="3" rowHeight="90px" gutterSize="10px">
      <mat-grid-tile *ngFor="let task of tasks" class="task-tile">
        <mat-card class="task-card" (click)="onViewDetails(task.id)">
          <mat-card-title>{{ task.name }}</mat-card-title>
          <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        </mat-card>
        <button mat-icon-button color="warn" aria-label="Delete task" (click)="onDeleteTask(task.id)" matTooltip="Delete Task">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="View details" (click)="onViewDetails(task.id)" matTooltip="View Task Details">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Edit task" (click)="onEditTask(task.id)" matTooltip="Edit Task">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
