<div class="return-section">
  <button mat-raised-button color="accent" [routerLink]="['/']">Return to Main Page</button>
</div>
<div class="container">
  <h1>Add New Project</h1>

  <form class="project-form"  #form="ngForm"  (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input matInput placeholder="Enter Project Name" ngModel name="projectName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter Project Description" ngModel name="description"></textarea>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Save Project</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
