<div class="return-section">
  <button mat-raised-button color="accent" [routerLink]="['/']">Return to Main Page</button>
</div>
<div class="container">
  <h1>Add New {{typeView}}</h1>

  <form class="project-form"  #form="ngForm"  (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="fill">
      <mat-label>{{typeView}} Name</mat-label>
      <input matInput placeholder="Enter {{entityName}} Name" [(ngModel)]="entityName" name="entityName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter {{typeView}} Description" [(ngModel)]="entityDescription" name="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="typeView==='Task'">
      <mat-label>Project Name</mat-label>
      <mat-select [(ngModel)]="selectedProject" name="project">
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="openAddTaskDialog()" *ngIf="typeView === 'Project'">Add a Task</button>
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid&&!disableSubmit">Save {{typeView}}</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
